<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>exam result</title>
</head>
<body>
    <h1>Exam Result</h1>

    <form  method="POST">
        <label for="name">Enter your ID :</label>
        <input type="text" name="id" id="name" required><br>
       
        <label>Enter your Password</label><br>
        <input type="password" name="password" id="password" required><br>
        <input type="submit" value="Submit">
        </form>
    
</body>
</html>